{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.75);
  }

  .section-clean-pooling-spill-videos-padding {
    padding: 0 2rem;
    margin-bottom: 24px;
  }

  .video-container-flex .video-wrapper h3 {
      color: var(--color-heading-deep-green);
      text-align: left;
      margin-top: 24px !important;
      margin-bottom: 24px !important;
    }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    .video-container-flex {
      display: flex;
      justify-content: space-between;
      width: 70%;
      margin: 0 auto;
    }

    .video-container-flex .video-wrapper {
      width: 48%;
    }

    .video-container-flex .video-container {
      position: relative;
      padding-bottom: 56.25%; 
      height: 0;
    }

    .video-container-flex .video-container video,
    .video-container-flex .video-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .video-container-flex .video-wrapper h3 {
      color: var(--color-heading-deep-green);
      margin-bottom: 24px !important;
    }
  }

  .video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
  }

  .video-container iframe, .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  video{
    border: 1px solid #111;
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="section-{{ section.id }}-padding">
    <div class="video-container-flex">
      <div class="video-wrapper">
        <h3>Oil Spills on Hard Surfaces</h3>
        <div class="video-container">
          <video width="100%" controls>
            <source src="{{ section.settings.file_url }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
      <div class="video-wrapper">
        <h3>Oil Spills on Water</h3>
        <div class="video-container">
          <iframe width="560" height="315" src="{{ section.settings.video_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Custom Video",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "video_url",
      "label": "YouTube Video URL",
      "info": "Enter the URL of your YouTube video.",
      "default": "https://www.youtube.com/embed/mPrdrc5xsFs?si=pdn0ejr3kEF4pdCm"
    },
    {
      "type": "text",
      "id": "file_url",
      "label": "Clean Diesel Video",
      "info": "Upload or select your Clean Diesel video file.",
      "default": "https://cdn.shopify.com/videos/c/o/v/67e478a3651b42acaca2527ff60f8947.mp4"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 52
    },
    {
      "type": "range",
      "id": "padding_left",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_right",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 24
    }
  ],
  "presets": [
    {
      "name": "Custom Video"
    }
  ]
}
{% endschema %}