{% style %}
  
{% endstyle %}

<section class="page-banner-section"> 
    <div class="page-banner-container">
      <div>
          <h1>{{ section.settings.title}}</h1>
          <p>{{ section.settings.subtitle }}</p>
          <a href="{{ section.settings.button_link }}" class="banner-button">
            {{ section.settings.button_text }} <span>→</span>
          </a>
      </div>
      <div>
        <img src="{{ 'how-to-use-bg.webp' | file_url }}" alt="Description of image">
      </div>
    </div>
  </section>

{% schema %}
{
  "name": "Page Banner",
  "tag": "section",
  "class": "page-banner",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Banner Title",
      "default": "Clean a Pooling Oil Spill"
    },
    {
      "type": "textarea",
      "id": "subtitle",
      "label": "Banner Subtitle",
      "default": "Clean-Up Green Oil Spill Powder is used for all types of pooling oil spills. It works on hard surfaces such as asphalt, concrete or compacted soil, and also on water."
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Buy OS Powder"
    }
  ],
  "presets": [
    {
      "name": "Page Banner",
      "category": "Custom"
    }
  ]
}
{% endschema %}
  