{{ 'custom-button.css' | asset_url | stylesheet_tag }}
{{ 'section-custom-form.css' | asset_url | stylesheet_tag }}
{% comment %} do not change any classes, all the classes that form is using are from within-shopify.
 the only classes that I added are for styling.
 button is customized - Simran {% endcomment %}


<section class="contact-container">
<section class="custom-contact-form">
  <h2 class="form-heading">Got Questions? Send us a message</h2>
  {% form 'contact' %}
    {%- if form.posted_successfully? -%}
      <p style="color: green;">{{ 'templates.contact.form.post_success' | t }}</p>
    {%- endif -%}

    <div class="name-fields">
      <div class="form-group">
        <label for="contact[first_name]">First Name</label>
        <input type="text" id="contact[first_name]" name="contact[first_name]" required>
        
        {%- if form.errors contains 'first_name' -%}
          <p class="form-error">
            {% if form.errors.messages.first_name == 'This field is required.' %}
              Puh-lease provide your first name.
            {% else %}
              {{ form.errors.messages.first_name }}
            {% endif %}
          </p>
        {%- endif -%}
      </div>
      

      <div class="form-group">
        <label for="contact[last_name]">Last Name</label>
        <input type="text" id="contact[last_name]" name="contact[last_name]" required>
        {%- if form.errors contains 'last_name' -%}
          <p class="form-error">{{ form.errors.translated_fields.last_name | capitalize }} {{ form.errors.messages.last_name }}</p>
        {%- endif -%}
      </div>
    </div>

    <div class="form-group">
      <label for="contact[email]">Email</label>
      <input type="email" id="contact[email]" name="contact[email]" required>
      {%- if form.errors contains 'email' -%}
        <p class="form-error">{{ form.errors.translated_fields.email | capitalize }} {{ form.errors.messages.email }}</p>
      {%- endif -%}
    </div>

    <div class="form-group">
      <label for="contact[phone]">Phone Number</label>
      <input type="tel" id="contact[phone]" name="contact[phone]">
      {%- if form.errors contains 'phone' -%}
        <p class="form-error">{{ form.errors.translated_fields.phone | capitalize }} {{ form.errors.messages.phone }}</p>
      {%- endif -%}
    </div>

    <div class="form-group">
      <label for="contact[body]">Message</label>
      <textarea id="contact[body]" name="contact[body]" rows="5" required></textarea>
      {%- if form.errors contains 'body' -%}
        <p class="form-error">{{ form.errors.translated_fields.body | capitalize }} {{ form.errors.messages.body }}</p>
      {%- endif -%}
    </div>

    <div class="contact__button">
      <button type="submit" class="button-rounded">
        Submit
        <span class="arrow-circle">
          <svg width="20" height="20" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.22498 18H29.775" stroke="#1C2324" stroke-width="3" stroke-linecap="round" stroke-linejoin="bevel"/>
            <path d="M23.175 25.17L29.34 19.005C29.6194 18.724 29.7762 18.3438 29.7762 17.9475C29.7762 17.5512 29.6194 17.1711 29.34 16.89L23.34 10.89" stroke="#1C2324" stroke-width="3" stroke-linecap="round" stroke-linejoin="bevel"/>
          </svg>
        </span>
      </button>
    </div>
  {% endform %}
</section>


<div class="contact-info">
  <p class="contact-address">
    {% render 'location-pin-icon-svg' %}
    {{ section.settings.company_name }}<br>
    <span class="address">{{ section.settings.address | newline_to_br }}</span>
  </p>
  <p class="contact-phone">
    {% render 'phone-icon-svg' %}
    <a href="tel:{{ section.settings.phone_number }}">{{ section.settings.phone }}</a>
  </p>
  <p class="contact-email">
    {% render 'email-icon-svg' %}
    <a href="mailto:{{ section.settings.email }}">{{ section.settings.email }}</a>
  </p>
</div>
</section>

{% schema %}
{
  "name": "Contact Info",
  "settings": [
    {
      "type": "text",
      "id": "company_name",
      "label": "Company Name",
      "default": "Clean-Up Green Inc."
    },
    {
      "type": "text",
      "id": "address",
      "label": "Address",
      "default": "36, 52502 RR 25\nParkland County, AB\nT7Y 2M2"
    },    
    {
      "type": "text",
      "id": "phone",
      "label": "Phone Number",
      "default": "(780) 542-0486"
    },
    {
      "type": "text",
      "id": "phone_number",
      "label": "Phone Link",
      "default": "tel:+17805420486"
    },
    {
      "type": "text",
      "id": "email",
      "label": "Email",
      "default": "inquire@cleanupgreen.ca"
    }
  ]
}
{% endschema %}
