{% schema %}
{
  "name": "Hero Banner",
  "tag": "section",
  "class": "hero-banner-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Oil Spills Happen"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Oil spills are an inevitable part of the industrial sector. Clean-Up Green is the safe effective way of permanently cleaning all types of spills. Clean-Up Green will save you time and expensive cleanup costs."
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "View Products"
    },
    {
      "type": "image_picker",
      "id": "button_icon",
      "label": "Button Icon"
    },
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero Image"
    }
  ],
  "presets": [
    {
      "name": "Hero Banner",
      "category": "Image"
    }
  ]
}
{% endschema %}

<section class="hero-banner">
  <div class="container">
    <div class="hero-left">
      <h1>{{ section.settings.heading }}</h1>
      <p>{{ section.settings.description }}</p>
      <a href="{{ section.settings.button_link }}" class="hero-button">
        {{ section.settings.button_text }}
   
      </a>
    </div>
    <div class="hero-right">
      {% if section.settings.hero_image != blank %}
        <img src="{{ section.settings.hero_image | file_url }}" alt="Hero Banner Image" class="hero-image">
      {% endif %}
    </div>
  </div>
</section>
