{{ 'section-home-page-htu.css' | asset_url | stylesheet_tag }}
{{ 'custom-button.css' | asset_url | stylesheet_tag }}

<section class="htu-section">
  <div class="home-htu-container">
    <div class="text-container">
      <h2 id="how-to-use-heading">{{ section.settings.htu_heading }}</h2>
      <p>{{ section.settings.htu_text }}</p>
    </div>

    <div class="buttons-container">
      <div class="bg-image-overlay">
        <ul class="home-htu-ul">
          <li>
            <a href="{{ pages['how-to-clean-a-pooling-spill'].url }}" class="button-rounded">
              {{ section.settings.button_text }}
              <span class="arrow-circle">
                <svg width="20" height="20" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.22498 18H29.775" stroke="#1C2324" stroke-width="3" stroke-linecap="round" stroke-linejoin="bevel"/>
                  <path d="M23.175 25.17L29.34 19.005C29.6194 18.724 29.7762 18.3438 29.7762 17.9475C29.7762 17.5512 29.6194 17.1711 29.34 16.89L23.34 10.89" stroke="#1C2324" stroke-width="3" stroke-linecap="round" stroke-linejoin="bevel"/>
                </svg>
              </span>
            </a>
          </li>
        
          <li>
            <a href="{{ pages['how-to-clean-a-spill-stain'].url }}" class="button-rounded">
              {{ section.settings.button_text2 }}
              <span class="arrow-circle">
                <svg width="20" height="20" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.22498 18H29.775" stroke="#1C2324" stroke-width="3" stroke-linecap="round" stroke-linejoin="bevel"/>
                  <path d="M23.175 25.17L29.34 19.005C29.6194 18.724 29.7762 18.3438 29.7762 17.9475C29.7762 17.5512 29.6194 17.1711 29.34 16.89L23.34 10.89" stroke="#1C2324" stroke-width="3" stroke-linecap="round" stroke-linejoin="bevel"/>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a href="{{ pages['how-to-clean-a-spill-in-soil'].url }}" class="button-rounded">
              {{ section.settings.button_text3 }}
              <span class="arrow-circle">
                <svg width="20" height="20" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.22498 18H29.775" stroke="#1C2324" stroke-width="3" stroke-linecap="round" stroke-linejoin="bevel"/>
                  <path d="M23.175 25.17L29.34 19.005C29.6194 18.724 29.7762 18.3438 29.7762 17.9475C29.7762 17.5512 29.6194 17.1711 29.34 16.89L23.34 10.89" stroke="#1C2324" stroke-width="3" stroke-linecap="round" stroke-linejoin="bevel"/>
                </svg>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</section>


{% schema %}
{
  "name": "Home Page How to Use",
  "settings": [
    {
      "id": "htu_heading",
      "type": "text",
      "label": "Section Heading",
      "default": "How to Use Our Products"
    },
    {
      "id": "htu_text",
      "type": "text",
      "label": "Section Description",
      "default": "Clean-Up Green oil solutions products comes in a two step liquid solution and powder form. Each form has its designated use. Find out which solution you need for your job by clicking the links above or scrolling through the info below."
    },
    {
      "id": "button_text",
      "type": "text",
      "label": "Button Text 1",
      "default": "Clean a Pooling Oil Spill"
    },
    {
      "id": "button_text2",
      "type": "text",
      "label": "Button Text 2",
      "default": "Clean an Oil Stain"
    },
    {
      "id": "button_text3",
      "type": "text",
      "label": "Button Text 3",
      "default": "Clean an Oil Spill in Soil"
    }
  ]
}
{% endschema %}
