
{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}
{{ 'custom-header-banner-with-text.css' | asset_url | stylesheet_tag }}
{{ 'custom-button.css' | asset_url | stylesheet_tag }}

<div class="image-with-text">
  <div class="image-with-text-banner__grid">
    <div class="image-with-text__text-item">
      <div class="image-with-text__content">
        <h1>{{ section.settings.banner_heading }}</h1>

          <p>{{ section.settings.banner_description }}</p>

        <a href="{{ section.settings.button_url }}" class="button-rounded">
          {{ section.settings.button_text }}
          <span class="arrow-circle">
            <svg width="20" height="20" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.22498 18H29.775" stroke="#1C2324" stroke-width="3" stroke-linecap="round" stroke-linejoin="bevel"/>
              <path d="M23.175 25.17L29.34 19.005C29.6194 18.724 29.7762 18.3438 29.7762 17.9475C29.7762 17.5512 29.6194 17.1711 29.34 16.89L23.34 10.89" stroke="#1C2324" stroke-width="3" stroke-linecap="round" stroke-linejoin="bevel"/>
            </svg>
          </span>
        </a>
      </div>
    </div>
    <div class="image-with-text__media-item">
      <div class="image-with-text__media">
        <img src="{{ section.settings.banner_image | file_url }}" alt="Industrial Banner" class="industrial-banner-img">
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Page Banner",
  "settings": [
    {
      "id": "banner_heading",
      "type": "text",
      "label": "Banner Heading",
      "default": "Clean an Oil Spill on Soil"
    },
    {
      "id": "banner_description",
      "type": "text",
      "label": "Banner Description",
      "default": "Spills in soils can be quite problematic as they create toxic conditions and can be very tricky to clean with conventional methods. Spills in soil are common in the agricultural sector and the oil and gas industry. The following highlights best practices for cleaning oil from gravel, sand, and soil."
    },
    {
      "id": "button_text",
      "type": "text",
      "label": "Button Text",
      "default": "Buy OS Liquid"
    },
    {
      "id": "button_url",
      "type": "url",
      "label": "Button Link",
      "default": "/"
    },
    {
      "type": "text",
      "id": "banner_image",
      "label": "Image Filename",
      "default": "placeholder-image.webp"
    },
  ]
}
{% endschema %}