{{ 'section-remediation-comparison.css' | asset_url | stylesheet_tag }}
  

<section class="remediation-comparison-section">
  <h2 class="comparison-heading">{{ section.settings.comparison_heading }}</h2>

  <div class="remediation-container">
    <!-- Traditional Remediation -->
    <div class="remediation-box traditional">
      <h3>{{ section.settings.traditional_heading }}</h3>
      <p>{{ section.settings.traditional_paragraph }}</p>
      <ul>
        <li class="list-item">
          <svg fill="#ffffff" height="25" width="25" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 490 490" xml:space="preserve" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="3px"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <polygon points="456.851,0 245,212.564 33.149,0 0.708,32.337 212.669,245.004 0.708,457.678 33.149,490 245,277.443 456.851,490 489.292,457.678 277.331,245.004 489.292,32.337 "></polygon> </g></svg>
          <div>
            <strong>{{ section.settings.traditional_item1_title }}</strong> {{ section.settings.traditional_item1_description }}
          </div>
        </li>
        <li class="list-item">
          <svg fill="#ffffff" height="25" width="25" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 490 490" xml:space="preserve" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="3px"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <polygon points="456.851,0 245,212.564 33.149,0 0.708,32.337 212.669,245.004 0.708,457.678 33.149,490 245,277.443 456.851,490 489.292,457.678 277.331,245.004 489.292,32.337 "></polygon> </g></svg>
          <div>
            <strong>{{ section.settings.traditional_item2_title }}</strong> {{ section.settings.traditional_item2_description }}
          </div>
        </li>
        <li class="list-item">
          <svg fill="#ffffff" height="25" width="25" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 490 490" xml:space="preserve" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <polygon points="456.851,0 245,212.564 33.149,0 0.708,32.337 212.669,245.004 0.708,457.678 33.149,490 245,277.443 456.851,490 489.292,457.678 277.331,245.004 489.292,32.337 "></polygon> </g></svg>
          <div>
            <strong>{{ section.settings.traditional_item3_title }}</strong> {{ section.settings.traditional_item3_description }}
          </div>
        </li>
        <li class="list-item">
          <svg fill="#ffffff" height="25" width="25" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 490 490" xml:space="preserve" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <polygon points="456.851,0 245,212.564 33.149,0 0.708,32.337 212.669,245.004 0.708,457.678 33.149,490 245,277.443 456.851,490 489.292,457.678 277.331,245.004 489.292,32.337 "></polygon> </g></svg>
          <div>
            <strong>{{ section.settings.traditional_item4_title }}</strong> {{ section.settings.traditional_item4_description }}
          </div>
        </li>
      </ul>
    </div>

    <!-- Clean-Up Green Remediation -->
    <div class="remediation-box green">
      <h3>{{ section.settings.green_heading }}</h3>
      <p>{{ section.settings.green_paragraph }}</p>
      <ul>
        <li class="list-item">
          <svg class="icon icon-checkmark"><use xlink:href="#icon-checkmark"></use></svg>
          <div>
            <strong>{{ section.settings.green_item1_title }}</strong> {{ section.settings.green_item1_description }}
          </div>
         
        </li>
        <li>
          
          <strong>{{ section.settings.green_item2_title }}</strong> {{ section.settings.green_item2_description }}
        </li>
        <li>
          <strong>{{ section.settings.green_item3_title }}</strong> {{ section.settings.green_item3_description }}
        </li>
        <li>
          <strong>{{ section.settings.green_item4_title }}</strong> {{ section.settings.green_item4_description }}
        </li>
      </ul>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Remediation Comparison",
  "settings": [
    {
      "id": "comparison_heading",
      "type": "text",
      "label": "Comparison Heading",
      "default": "How do you clean up a spill quickly and effectively?"
    },
    {
      "id": "traditional_heading",
      "type": "text",
      "label": "Traditional Remediation Heading",
      "default": "Traditional Remediation"
    },
    {
      "id": "traditional_paragraph",
      "type": "text",
      "label": "Traditional Remediation Paragraph",
      "default": "Using absorbent powders, mats, acids and chemicals"
    },
    {
      "id": "traditional_item1_title",
      "type": "text",
      "label": "Traditional Item 1 Title",
      "default": "Sorbent Materials:"
    },
    {
      "id": "traditional_item1_description",
      "type": "text",
      "label": "Traditional Item 1 Description",
      "default": "Only soaks up the mess but does not encapsulate the hydrocarbons."
    },
    {
      "id": "traditional_item2_title",
      "type": "text",
      "label": "Traditional Item 2 Title",
      "default": "Not Safe For Landfill Disposal:"
    },
    {
      "id": "traditional_item2_description",
      "type": "text",
      "label": "Traditional Item 2 Description",
      "default": "Most waste is toxic and must still be disposed of using a Hydrovac and cleaning facility."
    },
    {
      "id": "traditional_item3_title",
      "type": "text",
      "label": "Traditional Item 3 Title",
      "default": "Expensive Disposals:"
    },
    {
      "id": "traditional_item3_description",
      "type": "text",
      "label": "Traditional Item 3 Description",
      "default": "Must be disposed of in an approved remediation facility. Costs up to $800 per 55-gal drum."
    },
    {
      "id": "traditional_item4_title",
      "type": "text",
      "label": "Traditional Item 4 Title",
      "default": "Costs Time:"
    },
    {
      "id": "traditional_item4_description",
      "type": "text",
      "label": "Traditional Item 4 Description",
      "default": "Cleanup time, including arranging transport to a remediation facility, is time-consuming."
    },
    {
      "id": "green_heading",
      "type": "text",
      "label": "Clean-Up Green Remediation Heading",
      "default": "Clean-Up Green Remediation"
    },
    {
      "id": "green_paragraph",
      "type": "text",
      "label": "Clean-Up Green Remediation Heading",
      "default": "Complete permanent encapsulation of the hydrocarbons using oil solutions technology"
    },
    {
      "id": "green_item1_title",
      "type": "text",
      "label": "Green Item 1 Title",
      "default": "Instant Encapsulation:"
    },
    {
      "id": "green_item1_description",
      "type": "text",
      "label": "Green Item 1 Description",
      "default": "Permanently encapsulates the hydrocarbons. Will not leach over time."
    },
    {
      "id": "green_item2_title",
      "type": "text",
      "label": "Green Item 2 Title",
      "default": "DSL Listed Landfill Safe:"
    },
    {
      "id": "green_item2_description",
      "type": "text",
      "label": "Green Item 2 Description",
      "default": "No Hydrovac needed! Safe for landfill disposal in both Canada and the US."
    },
    {
      "id": "green_item3_title",
      "type": "text",
      "label": "Green Item 3 Title",
      "default": "Avoided Costs:"
    },
    {
      "id": "green_item3_description",
      "type": "text",
      "label": "Green Item 3 Description",
      "default": "Avoid up to $800 per 55-gal drum in disposal fees."
    },
    {
      "id": "green_item4_title",
      "type": "text",
      "label": "Green Item 4 Title",
      "default": "Save Time:"
    },
    {
      "id": "green_item4_description",
      "type": "text",
      "label": "Green Item 4 Description",
      "default": "Save on clean-up time. Easy to use and easy to dispose of."
    }
  ],
  "presets": [
    {
      "name": "Remediation Comparison"
    }
  ]
}
{% endschema %}
