<link rel="stylesheet" href="{{ 'section-product-description.css' | asset_url }}">


<section class="product-description-section">
  <h2>{{  section.settings.section_heading }}</h2>
  
  <ul>
    <li>{{ section.settings.list1 | newline_to_br }}</li>
    <li>{{ section.settings.list2 | newline_to_br }}</li>
    <li>{{ section.settings.list3 | newline_to_br }}</li>
  </ul>
</section>

{% schema %}
{
  "name": "use description section",
  "settings": [
    {
      "id": "section_heading",
      "type": "text",
      "label": "Section Heading",
      "default": "What is it? What can it do?"
    },
    {
      "id": "list1",
      "type": "textarea",
      "label": "List Items 1",
      "default": "Quickly Turns oil into a non-hazardous silica for safe disposal."
    },
    {
      "id": "list2",
      "type": "textarea",
      "label": "List Items 2",
      "default": "Environmentally safe - Permanent, non toxic encapsulation will absorb 10X its weight."
    },
    {
      "id": "list3",
      "type": "textarea",
      "label": "List Items 3",
      "default": "Powder will only use what it needs to absorb and encapsulate hydrocarbons."
    }
  ],
  "presets": [
    {
      "name": "use description section"
    }
  ]
}
{% endschema %}