<link rel="stylesheet" href="{{ 'custom-heading-styles.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'section-application-tips.css' | asset_url }}">

<link rel="stylesheet" href="{{ 'section-removal-tips.css' | asset_url }}">

<section class="removal-section">
  <div class="left-side removal-text">
    <h2>{{ section.settings.removal_heading }}</h2>
      <ul>
        <li>{{ section.settings.removal_list_1 }}</li>
        <li>{{ section.settings.removal_list_2 }}</li>
        <li>{{ section.settings.removal_list_3 }}</li>
        <li>{{ section.settings.removal_list_4 }}</li>
        <li>{{ section.settings.removal_list_5 }}</li>
        <li>{{ section.settings.removal_list_6 }}</li>
        <li>{{ section.settings.removal_list_7 }}</li>
      </ul>
  </div>

  <div class="right-side">
    <section class="quick-tip-section">
      <p>{{ section.settings.quick_tip_heading }}</p>
      <p>{{ section.settings.quick_tip_text }}</p>
    </section>

      <div class="quick-tip-images">
        {% if section.settings.image_1 != blank %}
          <div class="image-wrapper">
            <img src="{{ section.settings.image_1 | file_url }}" alt="Removal Step 1">
          </div>
        {% endif %}
        {% if section.settings.image_2 != blank %}
          <div class="image-wrapper">
            <img src="{{ section.settings.image_2 | file_url }}" alt="Removal Step 2">
          </div>
        {% endif %}
      </div>
  </div>
</section>

{% schema %}
{
  "name": "Removal & Quick Tips",
  "settings": [
    {
      "type": "text",
      "id": "removal_heading",
      "label": "Removal Heading",
      "default": "Removal"
    },
    {
      "type": "textarea",
      "id": "removal_list_1",
      "label": "List Item 1",
      "default": "Allow time for the polymer to absorb the spill. The longer the wait time, the greater the absorption."
    },
    {
      "type": "textarea",
      "id": "removal_list_2",
      "label": "List Item 2",
      "default": "As the polymer absorbs the spill, it will gradually become more solid. If the spill is allowed to sit longer, the polymer will transform into a rubber-like mat."
    },
    {
      "type": "textarea",
      "id": "removal_list_3",
      "label": "List Item 3",
      "default": "Once the polymer has formed a rubber-like mat, it can be easily picked up for disposal."
    },
    {
      "type": "textarea",
      "id": "removal_list_4",
      "label": "List Item 4",
      "default": "Any excess white powder that has not been absorbed can be reused for future spills."
    },
    {
      "type": "textarea",
      "id": "removal_list_5",
      "label": "List Item 5",
      "default": "If the spill involves hydrocarbons or synthetic oils, more time will be required for the polymer to absorb the spill. The polymer will form a softer cluster compared to the rubber-like mat."
    },
    {
      "type": "textarea",
      "id": "removal_list_6",
      "label": "List Item 6",
      "default": "In most cases, removal can begin as early as 5 minutes after the spill is absorbed."
    },
    {
      "type": "textarea",
      "id": "removal_list_7",
      "label": "List Item 7",
      "default": "If the spill has stained surfaces or been absorbed into soil or hard surfaces, apply Clean-Up Green Oil Stain Liquid to complete the cleanup process."
    },
    {
      "id": "quick_tip_heading",
      "type": "text",
      "label": "Quick Tip Heading",
      "default": "Quick Tip"
    },
    {
      "id": "quick_tip_text",
      "type": "textarea",
      "label": "Quick Tip Text",
      "default": " Less product is required than other absorbent products. Powder does not absorb water. For a large spill, use the powder to make a berm first, to contain the spill and keep it localized in one area. Then proceed to spread powder to the inside of the spill."
},
    {
      "type": "text",
      "id": "image_1",
      "label": "Image 1 Filename",
      "default": "removal-step-1.webp"
    },
    {
      "type": "text",
      "id": "image_2",
      "label": "Image 2 Filename",
      "default": "removal-step-2.webp"
    }
  ],
  "presets": [
    {
      "name": "Removal & Quick Tips"
    }
  ]
}
{% endschema %}
