{{ 'section-tclprocedure.css' | asset_url | stylesheet_tag }}


<section class="tclp">
  <h2>The Toxicity Characteristic Leaching Procedure (TCLP)</h2>

  <div class="tclp-container">
    <!-- Image Column -->
    <div class="tcl-image-container">
      <img
        src="{{ section.settings.footprint-hero-image | file_url }}"
        alt="TCLP Image side"
        class="tclp-image">
    </div>

    <!-- Text Column -->
    <div class="tclp-content">
      <p>{{ section.settings.tclp_description }}</p>

      <div class="tclp-mini-container">
        <h4>{{ section.settings.tclp_subheading }}</h4>
        
        <a href="{{ section.settings.tclp_button_link }}"class="button-rounded">
          {{ section.settings.tclp_button_text }}
        
          <span class="arrow-circle">
            <svg width="20" height="20" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.22498 18H29.775" stroke="#1C2324" stroke-width="3" stroke-linecap="round" stroke-linejoin="bevel"/>
              <path d="M23.175 25.17L29.34 19.005C29.6194 18.724 29.7762 18.3438 29.7762 17.9475C29.7762 17.5512 29.6194 17.1711 29.34 16.89L23.34 10.89" stroke="#1C2324" stroke-width="3" stroke-linecap="round" stroke-linejoin="bevel"/>
              </svg>
        
          </span>
        </a>
      </div>
    </div>
  </div>
</section>


{% comment %} <link rel="stylesheet" href="{{ 'tclp.css' | asset_url }}"> {% endcomment %}

{% schema %}
{
  "name": "TCLP Section",
  "settings": [
    {
      "id": "footprint-hero-image",
      "type": "text",
      "label": "TCLP Image Filename",
      "default": "epa-website.png"
    },
    {
      "id": "tclp_description",
      "type": "textarea",
      "label": "TCLP Description",
      "default": "TCLP (US EPA Method 1311) is designed to determine the mobility of both organic and inorganic analytes present in liquid, solid, and multiphasic wastes. It is used to classify these wastes as hazardous or non-hazardous based on leachability. This method is used in Canada, the USA, and elsewhere across the world to determine the anticipated movement of contaminants under acidic conditions over time. In Canada, this product is DSL-listed as landfill safe."
    },
    {
      "id": "tclp_subheading",
      "type": "text",
      "label": "Subheading",
      "default": "Learn more about TCLP from the official United States Environmental Protection Agency website:"
    },
    {
      "id": "tclp_button_text",
      "type": "text",
      "label": "Button Text",
      "default": "Learn more TCLP"
    },
    {
      "id": "tclp_button_link",
      "type": "text",
      "label": "Button Link",
      "default": "https://www.epa.gov/hw-sw846/sw-846-test-method-1311-toxicity-characteristic-leaching-procedure"
    }
  ],
  "presets": [
    {
      "name": "TCLP Section"
    }
  ]
}
{% endschema %}
