<link rel="stylesheet" href="{{ 'section-testimonials.css' | asset_url }}">

<section class="section testimonials">

  <div class="testimonials-wrapper">

    <div class="testimonials-content">
<<<<<<< Updated upstream
      <h2 class="text-center">Testimonials</h2>
=======
      <h2 class="text-center">{{ section.settings.testimonial_heading }}</h2>
>>>>>>> Stashed changes

      <div class="testimonial-container"> 
        <!-- display grid container-->
        {% comment %} Canadian Environmental Practitioner Testimonial {% endcomment %}
        <div class="testimonial dark-bg">
          <div class="testimonial-content light-text">
            <p class="testimonial-text">
           {% render 'white-quote-svg' %}
                {{ section.settings.test_1 }}
            </p>
            <p class="testimonial-author">
             {{ section.settings.test1_author }}
            </p>
          </div>
        </div>

        {% comment %} Wildlife Services Testimonial {% endcomment %}
        <div class="testimonial green-bg">
          <div class="testimonial-content dark-text">
            <p class="testimonial-text">
              {% render 'black-quote-svg' %}
                {{ section.settings.test_2 }}
            </p>
            <p class="testimonial-author">
              {{section.settings.test2_author}}
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>


{% schema %}
{
  "name": "Testimonials Section",
  "settings": [
    {
      "type": "text",
      "id": "testimonial_heading",
      "label": "Section Heading",
      "default": "Testimonials"
    },
  
    {
      "type": "text",
      "id": "test_1",
      "label": "Test 1",
     "default":"I am very impressed by the product and would definitely recommend that it be used for hydrocarbon spills...there are time and huge cost savings by having this product in your tool box."
   
    },
    {
      "type": "text",
      "id": "test1_author",
      "label": "Author's name",
      "default": "- Canadian Environmental Practitioner"
    },
  
    {
      "type": "text",
      "id": "test_2",
      "label": "Test 2",
      "default": " We at Wildlife Control Services have found this product instrumental with our services as we work with the environment. We strongly recommend this product when dealing with any petroleum concerns."
    },
    {
      "type": "text",
      "id": "test2_author",
      "label": "Author's name",
      "default": "- Wildlife Control Services"
    },

  ],
  "presets": [
    {
      "name": "Testimonials",
      "category": "Custom"
    }
  ]
}
{% endschema %}

