{{ 'section-where-to-buy.css' | asset_url | stylesheet_tag }}
{{ 'custom-button.css' | asset_url | stylesheet_tag }}

<section class="where-to-buy-section">
    <div class="where-to-buy-container">
        <!-- heading -->
        <h3 class="where-to-buy-heading">Clean-Up Green product kits are available in person at the following:</h3>


        <div class="logo-grid">
            <div class="logo-grid-item">
                <img src="{{ 'peavey-logo.png' | file_url }}" alt="Peavey Logo" width="226" height="90">
            </div>

            <div class="logo-grid-item">
                <img src="{{ 'rcs-logo.png' | file_url }}" alt="RCS Logo" width="128.52" height="116">
            </div>

            <div class="logo-grid-item">
                <img src="{{ 'wicked-logo.png' | file_url }}" alt="Wicked Workshops Logo" width="223.9" height="90">
            </div>

            <div class="logo-grid-item">
                <img src="{{ 'pattersons-logo.png' | file_url }}" alt="Patterson's Part Supply Logo" width="148.9" height="100">
            </div>

            <div class="logo-grid-item">
                <img src="{{ 'jsplace-logo.png' | file_url }}" alt="J's Place Logo" width="210.7" height="43">
            </div>

            <div class="logo-grid-item">
                <img src="{{ 'advantage-logo.png' | file_url }}" alt="Advantage Recovery Systems Logo" width="285.85" height="72">
            </div>

            <div class="logo-grid-item">
                <img src="{{ 'yeg-logo.png' | file_url }}" alt="Yeg Epoxy Logo" width="184.67" height="104">
            </div>

        </div>

        <div class="shop-product-inquiry-section">
            <h4 class="where-to-buy-heading">Got Questions?</h4>

            <a href="pages/contact-us"class="button-rounded">
            Product Inquiry
            <span class="arrow-circle">
            <svg width="20" height="20" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.22498 18H29.775" stroke="#1C2324" stroke-width="3" stroke-linecap="round" stroke-linejoin="bevel"/>
                <path d="M23.175 25.17L29.34 19.005C29.6194 18.724 29.7762 18.3438 29.7762 17.9475C29.7762 17.5512 29.6194 17.1711 29.34 16.89L23.34 10.89" stroke="#1C2324" stroke-width="3" stroke-linecap="round" stroke-linejoin="bevel"/>
                </svg>
            </span>
        </a>

          
            <a href="pages/contact-us"class="button-rounded">
                Become A Dealer
            <span class="arrow-circle">
                <svg width="20" height="20" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.22498 18H29.775" stroke="#1C2324" stroke-width="3" stroke-linecap="round" stroke-linejoin="bevel"/>
                    <path d="M23.175 25.17L29.34 19.005C29.6194 18.724 29.7762 18.3438 29.7762 17.9475C29.7762 17.5512 29.6194 17.1711 29.34 16.89L23.34 10.89" stroke="#1C2324" stroke-width="3" stroke-linecap="round" stroke-linejoin="bevel"/>
                </svg>
            </span>
            </a>
        </div>
    </div>

</section>