{{ 'section-where-to-buy.css' | asset_url | stylesheet_tag }}
{{ 'custom-button.css' | asset_url | stylesheet_tag }}

<section class="where-to-buy-section">
    <div class="where-to-buy-container">
        <!-- heading -->
        <h3 class="where-to-buy-heading">{{ section.settings.heading }}</h3>


        <div class="logo-grid">

            <div class="logo-grid-item">
                <a href="{{ section.settings.store1_link }}"><img src="{{ section.settings.logo1_image | file_url }}" alt="{{ section.settings.store1_alt }}"></a>
            </div>

            <div class="logo-grid-item">
                <a href="{{ section.settings.store2_link }}"><img src="{{ section.settings.logo2_image | file_url }}" alt="{{ section.settings.store2_alt }}"></a>
            </div>

            <div class="logo-grid-item">
                <a href="{{ section.settings.store3_link }}"><img src="{{ section.settings.logo3_image | file_url }}" alt="{{ section.settings.store3_alt }}"></a>
            </div>

            <div class="logo-grid-item">
                <a href="{{ section.settings.store4_link }}"><img src="{{ section.settings.logo4_image | file_url }}" alt="{{ section.settings.store4_alt }}"></a>
            </div>

            <div class="logo-grid-item">
                <a href="{{ section.settings.store5_link }}"><img src="{{ section.settings.logo5_image | file_url }}" alt="{{ section.settings.store5_alt }}"></a>
            </div>

            <div class="logo-grid-item">
                <a href="{{ section.settings.store6_link }}"><img src="{{ section.settings.logo6_image | file_url }}" alt="{{ section.settings.store6_alt }}"></a>
            </div>
        </div>

        <div class="shop-product-inquiry-section">
            <h4 class="where-to-buy-heading">{{ section.settings.heading2 }}</h4>

            <a href="{{ section.settings.contact_link1 }}" class= "button-rounded">
            {{ section.settings.contact_button1 }}
            <span class="arrow-circle">
            <svg width="20" height="20" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.22498 18H29.775" stroke="#1C2324" stroke-width="3" stroke-linecap="round" stroke-linejoin="bevel"/>
                <path d="M23.175 25.17L29.34 19.005C29.6194 18.724 29.7762 18.3438 29.7762 17.9475C29.7762 17.5512 29.6194 17.1711 29.34 16.89L23.34 10.89" stroke="#1C2324" stroke-width="3" stroke-linecap="round" stroke-linejoin="bevel"/>
                </svg>
            </span>
        </a>

          
            <a href="{{ section.settings.contact_link2 }}"class="button-rounded">
            {{ section.settings.contact_button2 }}
            <span class="arrow-circle">
                <svg width="20" height="20" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.22498 18H29.775" stroke="#1C2324" stroke-width="3" stroke-linecap="round" stroke-linejoin="bevel"/>
                    <path d="M23.175 25.17L29.34 19.005C29.6194 18.724 29.7762 18.3438 29.7762 17.9475C29.7762 17.5512 29.6194 17.1711 29.34 16.89L23.34 10.89" stroke="#1C2324" stroke-width="3" stroke-linecap="round" stroke-linejoin="bevel"/>
                </svg>
            </span>
            </a>
        </div>
    </div>

</section>

{% schema %}
{
    "name": "Where to Buy Section",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Clean-Up Green product kits are available in person at the following:"
        },
        {
            "type": "text",
            "id": "store1_link",
            "label": "Store Link",
            "default": "https://jsplace.ca/"
        },
        {
            "type": "text",
            "id": "logo1_image",
            "label": "Store Logo",
            "default": "jsplace-logo.png"
        },
        {
            "type": "text",
            "id": "store1_alt",
            "label": "Store Logo Alt (Title of Store)",
            "default": "Js Place"
        },
        {
            "type": "text",
            "id": "store2_link",
            "label": "Store Link",
            "default": "https://www.s5powersports.ca/"
        },
        {
            "type": "text",
            "id": "logo2_image",
            "label": "Store Logo",
            "default": "s5powersports-logo.png"
        },
        {
            "type": "text",
            "id": "store2_alt",
            "label": "Store Logo Alt (Title of Store)",
            "default": "S5 Powersports"
        },
        {
            "type": "text",
            "id": "store3_link",
            "label": "Store Link",
            "default": "https://yegepoxy.com/"
        },
        {
            "type": "text",
            "id": "logo3_image",
            "label": "Store Logo",
            "default": "yeg-logo.png"
        },
        {
            "type": "text",
            "id": "store3_alt",
            "label": "Store Logo Alt (Title of Store)",
            "default": "YEG Epoxy"
        },
        {
            "type": "text",
            "id": "store4_link",
            "label": "Store Link",
            "default": "https://royalcoatingsupply.com/"
        },
        {
            "type": "text",
            "id": "logo4_image",
            "label": "Store Logo",
            "default": "rcs-logo.png"
        },
        {
            "type": "text",
            "id": "store4_alt",
            "label": "Store Logo Alt (Title of Store)",
            "default": "Royal Coating Supply"
        },
        {
            "type": "text",
            "id": "store5_link",
            "label": "Store Link",
            "default": "https://thunder5.ca/"
        },
        {
            "type": "text",
            "id": "logo5_image",
            "label": "Store Logo",
            "default": "thunder5-logo.png"
        },
        {
            "type": "text",
            "id": "store5_alt",
            "label": "Store Logo Alt (Title of Store)",
            "default": "Thunder 5 Fuel"
        },
        {
            "type": "text",
            "id": "store6_link",
            "label": "Store Link",
            "default": "https://cornerstonepe.ca/"
        },
        {
            "type": "text",
            "id": "logo6_image",
            "label": "Store Logo",
            "default": "cpe-logo.png"
        },
        {
            "type": "text",
            "id": "store6_alt",
            "label": "Store Logo Alt (Title of Store)",
            "default": "Corner Stone PE"
        },
        {
            "type": "text",
            "id": "heading2",
            "label": "Heading 2",
            "default": "Got Questions?"
        },
        {
            "type": "text",
            "id": "contact_button1",
            "label": "Button Label",
            "default": "Product Inquiry"
        },
        {
            "type": "text",
            "id": "contact_button2",
            "label": "Button Label",
            "default": "Become a Dealer"
        },
        {
            "type": "text",
            "id": "contact_link1",
            "label": "Contact Link",
            "default": "pages/contact-us"
        },
        {
            "type": "text",
            "id": "contact_link2",
            "label": "Contact Link",
            "default": "pages/contact-us"
        }
    ]
}

{% endschema %}