<!-- Hero Section -->
<section class="hero-section" style="background-image: url('{{ 'how-to-use-bg.webp' | file_url }}'); background-size: cover; background-position: center; color: white; text-align: center; padding: 100px 20px;">
  <h1>{{ 'How to use '}}</h1>
</section>

<!-- Content Section -->
<section class="content-section">
  <h2>How to Use</h2>
  <p>We know oil spills and stains can be an annoying problem around the house. We offer a complete line of household solutions for stains and spills of all sizes. Great for residential homes, acreages, ranches and farms. </p>
</section>

<!-- Cards Section -->
<section class="content-section">
  <div class="card-container">
      <!-- Card 1 -->
      <div class="card">
        <img src="{{ 'cleaning-spills-in-oil-bg.webp' | file_url }}" alt="image 3">

          <h3>Clean a Pooling Oil Spill</h3>
          <p>Clean-Up Green Oil Spill Powder is used for all types of pooling oil spills. It works on hard surfaces such as asphalt, concrete or compacted soil, and also on water. </p>
          <a href="#"></a>
      </div>

      <!-- Card 2 -->
      <div class="card">
        <img src="{{ 'cleaning-spills-in-oil-bg.webp' | file_url }}" alt="image 3">

          <h3>Clean an Oil Stain</h3>
          <p>Clean-Up Green Oil Two Step Liquid is used for stains on all surfaces including rock, concrete, asphalt, and wood. It also helps eliminate oil smells.</p>
          <a href="/templates/page.how-spill-stain.liquid">How to clean an spill stain</a>
      </div>

      <!-- Card 3 -->
      <div class="card">
          <img src="{{ 'cleaning-spills-in-oil-bg.webp' | file_url }}" alt="image 3">
          <h3>Clean an Oil Spill in Soil</h3>
          <p>Spills in soils can be quite problematic as they create toxic conditions and can be very tricky to clean with conventional mng oil from gravel, sand, and soil.</p>
          <a href="#">Learn More</a>
      </div>
  </div>
</section>